.Maingroup-SkillsSection {
  display: flex;
  flex-flow: row wrap;
  max-width: 25vmin;
  max-height: 20vmin;
}
.Maingroup-HackSection {
  display: none;
  flex-flow: row wrap;
  max-width: 25vmin;
  max-height: 20vmin;
}
.Maingroup-AboutSection {
  display: none;
  flex-flow: row wrap;
  max-width: 25vmin;
  max-height: 20vmin;
}
.Skills-ProgressBar_first_wrapper, .Skills-ProgressBar_second_wrapper, .Skills-ProgressBar_third_wrapper {
  display: flex;
  max-width: 25vmin;
  max-height: 4vmin;
  border-radius: 30px;
  margin: 1vmin 2vmin;
  align-self: center;
  align-items: center;
  background-color: rgba(125, 120, 255, 1);
  animation: swap 10s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.ButtonSlider_wrapper {
  display: flex;
  align-content: center;
  align-self: center;
  width: 6vmin;
  margin: 0 1vmin;
  border-radius: 2vmin;
  background-color: rgba(125, 120, 255, 0.8);
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.ButtonSlider_first, .ButtonSlider_second, .ButtonSlider_third {
  color: rgba(240, 240, 240, 0.5);
  border-radius: 50px;
  align-self: flex-start;
  cursor: pointer;
  width: 3vmin;
  height: 3vmin;
  background-color: rgba(240, 240, 240, 1);
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.Skills-Button_enabled {
  color: rgba(240, 240, 240, 0.5);
  border-radius: 50px;
  align-self: center;
  cursor: pointer;
  width: 3vmin;
  height: 3vmin;
  background-color: rgba(240, 240, 240, 1);
  opacity: 1;
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(3vmin);
}
.ButtonWrapperBackground {
  background-color: rgba(220, 220, 255, 1);
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
button:focus {outline:0;}

h2 {
    margin-right: 1vmin;
    font-weight: 400;
    font-size: 2vmin;
    color: rgba(255, 255, 255, 1);
}
@keyframes swap {
  0% {
    background-color: rgba(71, 41, 254, 0.8);
  }
  60% {
    background-color: rgba(0, 0, 200, 0.8);
  }
  75% {
    background-color: rgba(50, 0, 200, 0.8);
  }
  100% {
    background-color: rgba(71, 41, 254, 0.8);
  }
}
