html {
  font-family: Roboto, sans-serif;
}
.MainGroup {
  display: flex;
  align-items: center;
  flex-flow: column;
  font-weight: 300;
  justify-content: center;
  min-width: 100vmin;
  height: 100vmin;
  animation: color 10s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.AboutSelf {
  display: flex;
  background-color: rgba(125, 120, 255, 1);
  max-width: 52vmin;
  color: rgba(255, 255, 255, 1);
  padding: 1vmin;
  margin: 1vmin;
  border-radius: 1vmin;
  text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
}
.MainGroup-About_wrapper {
  display: flex;
  align-items: center;
  align-self: center;
  min-width: 52vmin;
  max-height: 30vmin;
  justify-content: space-around;
  flex-flow: row-reverse;
  background-color: rgba(125, 120, 255, 1);
  border-radius: 1vmin;
}
.MainGroup-Initials_wrapper {
	display: flex;
	flex-flow: column;
	align-self: center;
  justify-content: space-around;
  margin: 1vmin 1vmin;
	min-width: 35vmin;
  max-height: 25vmin;
}
.AboutGroup-Logos_wrapper {
  display: flex;
  min-width: 15vmin;
  max-height: 10vmin;
  margin: 1vmin 0;
  flex-flow: row;
}
.AboutGroup-LogoFacebook {
  background-image: url('fb.svg');
}
.AboutGroup-LogoVk {
  background-image: url('vk.svg');
}
.AboutGroup-LogoGitHub {
  background-image: url('gh.svg');
}
.AboutWrapper-Photo_wrapper {
  display: flex;
  margin: 1vmin 1vmin;
  width: 15vmin;
  height: 15vmin;
  align-self: center;
  border-radius: 50px;
  background-color: rgba(200, 120, 255, 0.8);
  background-size: cover;
  background-image: url("me.png");
  background-repeat: no-repeat;
  transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.MainGroup-Header, .MainGroup-Paragraph {
  margin: 0 1vmin;
	color: rgba(255, 255, 255, 1);
  cursor: default;
  text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
}
.MainGroup-Paragraph {
  font-weight: 500;
  font-size: 2vmin;
}
.MainGroup-Header {
	font-size: 5vmin;
}
.SocialLink {
  display: flex;
  width: 5vmin;
  height: 5vmin;
  margin: 0 1vmin;
  background-repeat: no-repeat;
  background-size: contain;
}

@keyframes color {
  0% {
    background-color: rgba(71, 41, 254, 0.8);
  }
  50% {
    background-color: rgba(50, 30, 220, 0.8);
  }
  100% {
    background-color: rgba(71, 41, 254, 0.8);
  }
}
