.About-MainGroup {
  display: flex;
  flex-grow: 1;
}
.Personal-Specials {
  display: flex;
  align-self: flex-end;
  justify-content: space-evenly;
  flex-flow: column;
  width: 100%;
  height: 100vmin;
}
.SpecialsWrapper {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  max-width: 60vmin;
  max-height:80vmin;
  margin-bottom: 10vmin;
  align-self: center;
  padding: 2vmin;
  align-items: center;
  overflow: hidden;
}
.SpecialsBlock {
  display: flex;
  align-self: center;
  flex-flow: row wrap;
  overflow-x: scroll;
  min-width: 60vmin;
  max-width: 70vmin;
}
.BlockHeader {
  color: rgba(255, 255, 255, 1);
  display: flex;
  min-height: 7vmin;
  max-height: 10vmin;
  flex-flow: nowrap;
  align-items: center;
  background-color: rgba(71, 41, 254, 0.8);
  animation: color 10s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
  font-size: 6vh;
}
.SliderHeader {
  display: flex;
  max-height: 10vmin;
  min-width: 60vmin;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(71, 41, 254, 0.8);
  font-size: 4vh;
}
.Specials-Skill {
  display: flex;
  align-items: center;
  align-content: stretch;
  width: 25vmin;
  flex-grow: 1;
  max-height: 15vmin;
  margin: 1vmin 1vmin;
  border-radius: 2vmin;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  background-color: rgba(71, 41, 254, 0.8);
  transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.Specials-Skill:hover {
  transform: scale(1.1);
  background-color: rgba(100, 100, 254, 0.8);
}
.Spinner {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  margin: 1vmin 1vmin;
}
circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
