.UsersStatsBlock {
  display: flex;
  flex-grow: 1;
}
.UsersStatsBlock_wrapper {
  display: flex;
  flex-flow: column;
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100vmin;
}
.UsersSpecialsSection_wrapper {
  display: flex;
  flex-flow: row wrap;
  max-width: 60vmin;
  max-height: 100vmin;
  align-self: center;
  padding: 6vmin;
  align-items: center;
}
.UsersSpecialsSection {
  display: flex;
  align-self: center;
  flex-flow: row wrap;
  overflow: hidden;
  min-width: 60vmin;
  max-width: 70vmin;
  max-height: 100%;
}
.UsersStatsBlock_wrapper:hover {
  overflow: scroll;
}
.StatsBlockHeader {
  display: flex;
  font-weight: 300;
  min-height: 7vmin;
  max-height: 10vmin;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(71, 41, 254, 0.8);
  font-size: 6vh;
}
.SpecialSectionHeader {
  max-height: 10vmin;
  min-width: 70vmin;
  margin-top: 1vmin;
  border-top-right-radius: 10vmin;
  border-bottom-right-radius: 10vmin;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(71, 41, 254, 0.8);
  font-size: 4vh;
}
.Specials-Skill {
  display: flex;
  align-items: center;
  width: 25vmin;
  flex-grow: 1;
  max-height: 15vmin;
  margin: 1vmin 1vmin;
  border-radius: 2vmin;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  background-color: rgba(71, 41, 254, 0.8);
  text-shadow: 0 0 1px rgba(151,24,64,0.2);
  transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.Specials-Skill:hover {
  transform: scale(1.1);
  background-color: rgba(100, 100, 254, 0.8);
  text-shadow: none;
}
.Spinner {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  margin: 1vmin 1vmin;
}
circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

@media screen and (max-width: 568px) {
  .UsersStatsBlock {
      background-color: rgba(255, 255, 255, 1);
  }
  .UsersStatsBlock_wrapper {
    height: auto;
  }
  .StatsBlockHeader {
    padding: 1vmin 0 1vmin 1vmin;
    align-items: center;
    max-height: 8vmin;
    font-weight: 300;
    margin-top: 8vmin;
    border-top-right-radius: 10vmin;
    border-bottom-right-radius: 10vmin;
    background-color: rgba(125, 120, 255, 1);
  }
  .SpecialSectionHeader {
    text-shadow: none;
    font-size: 4vh;
    margin-top: 1vmin;
    padding: 0 0 0 1vmin;
    font-weight: 300;
    border-top-right-radius: 10vmin;
    border-bottom-right-radius: 10vmin;
    background-color: rgba(125, 120, 255, 1);
  }
  .UsersSpecialsSection {
    min-width: 100vmin;
    max-height: 100vmin;
    align-items: center;
    overflow: scroll;
    justify-content: space-between;
  }
  .UsersSpecialsSection_wrapper {
    align-self: center;
    min-width: 80vmin;
    min-height: 100vmin;
    box-sizing: content-box;
    overflow: scroll;
  }
  .Specials-Skill {
    width: auto;
    padding-right: 2vmin;
    max-height: 30vmin;
  }
}
